# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and coverage
coverage/

# Production builds
dist/
build/

# Misc
.DS_Store
Thumbs.db
*.log
.env
.env.local

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
